/* # Front-end Style Guide */

/* ## Layout */

/* The designs were created to the following widths: */

/* - Mobile: 375px */
/* - Desktop: 1440px */

/* > 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens. */

/* ## Colors */

/* ### Primary */

/* - Pale blue: hsl(225, 100%, 94%) */
/* - Bright blue: hsl(245, 75%, 52%) */

/* ### Neutral */

/* - Very pale blue: hsl(225, 100%, 98%) */
/* - Desaturated blue: hsl(224, 23%, 55%) */
/* - Dark blue: hsl(223, 47%, 23%) */

/* ## Typography */

/* ### Body Copy */

/* - Font size (paragraph): 16px */

/* ### Font */

/* - Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display) */
/* - Weights: 500, 700, 900 */

/* > 💎 [Upgrade to Pro](https://www.frontendmentor.io/pro?ref=style-guide) for design file access to see all design details and get hands-on experience using a professional workflow with tools like Figma. */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/pattern-background-mobile.svg);
}

/* ====== MAIN CONTAINER ====== */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .content {
    background-color: hsl(225, 100%, 98%);
    width: 400px;
    height: 580px;
    border-radius: 10px; 
}

.content img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* ====== TITLE CONTAINER ====== */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.title h1 {
    font-family: "roboto", sans-serif;
    font-size: 150%;
    color: hsl(223, 47%, 23%);
}

/* ====== PARAGRAPH CONTAINER ====== */
.content-paragraphe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.paragraphe {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-family: "roboto", sans-serif;
    color: hsl(224, 23%, 55%);
    width: 70%;
    line-height: 20px;
}

/* ====== ANNUAL CONTAINER ====== */
.annual-plan-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.annual-plan-information {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 75%;
    height: 80px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 94%);
}

/* ====== INSIDE ANNUAL CONTAINERS ====== */
.icon-music, 
.annual-plan-text-price,
.link-to-change {
    display: inline-block;
}

.icon-music img {
    width: 80%;
    margin-left: 5px;
    margin-right: 20px;
}

.annual-plan-text-price p {
    font-family: "roboto", sans-serif;
    line-height: 25px;
    margin-right: 70px;
}

.annual-plan-text-price span {
    color: hsl(224, 23%, 55%);
    font-family: "roboto", sans-serif;
    font-size: 15px;
}

.annual-plan-text-price p span {
    display: block;
}

.link-to-change a {
    font-family: "roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: hsl(245, 75%, 52%);
}

/* ====== BUTTON CONTAINER ====== */
.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.button-content 
.button button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: hsl(245, 75%, 52%) ;
    color: hsl(225, 100%, 94%);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

 .button button:hover { background-color: hsl(223, 47%, 23%); } 

/* ====== CANCELED CONTAINER ====== */
.canceled-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.canceled-content button {
    width: 280px;
    height: 40px;
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    border: none; 
    font-weight: bold;
    cursor: pointer;
}

/* ====== INFORMATIONS ====== */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}